.form {
  width: 100%;
  &__fields {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 -10px 0;
    width: calc(100% + 20px);
  }

  &__delete-set {
    margin-top: 15px;
    &:hover {
      @media (hover: hover) {
        color: @blue;
      }
    }

    &--disabled {
      pointer-events: none;
    }
  }

  &__field {
    margin: 0 10px 20px;
  }

  &__content {
    margin-bottom: 30px;
  }

  &__buttons {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding-left: 10px;
  }

  &__wrapper {
    box-sizing: border-box;
    border: 1px solid @black_25;
    padding: 30px;
    border-radius: 20px;
    background-color: @white;
  }

  &__select {
    width: 100%;
  }

  &__clone-group {
    margin: 0 0 0 0;
    display: flex;
    padding: 0;
    border: none;
    gap: 20px;
    width: 100%;
    align-items: flex-start;
    &-move,
    &-enter-active,
    &-leave-active {
      transition: opacity 0.2s;
    }
    &-enter-from,
    &-leave-to {
      opacity: 0;
    }

    @media @bw768 {
      //flex-wrap: wrap;
      gap: 7px;
    }

    @media @bw400 {
      gap: 0 7px;
    }

    &--first {
      & .field {
        padding-top: 30px;
      }

      & .field__label {
        display: block;
      }

      & .form__delete-set {
        margin-top: 10px;
      }
    }

    &--border-none {
      @media @bw400 {
        border: none;
      }
    }

    &--row {
      @media @bw400 {
        flex-wrap: nowrap;
      }
    }

    &--mb0 {
      margin-bottom: 0;
    }

    &--fl-wrap-1020 {
      @media @bw1020 {
        margin-bottom: 20px;
        gap: 0 10px;
        flex-wrap: wrap;
        border-bottom: 1px solid @black_25;
      }

      @media @bw400 {
        gap: 0 7px;
      }

      & .field {
        @media @bw1020 {
          padding-top: 30px;
        }
      }

      & .field__label {
        @media @bw1020 {
          display: block;
        }
      }

      & .form__delete-set {
        @media @bw1020 {
          margin-top: 10px;
        }
      }
    }

    &--fl-wrap-1510 {
      @media @bw1510 {
        margin-bottom: 20px;
        gap: 0 20px;
        flex-wrap: wrap;
        border-bottom: 1px solid @black_25;
      }
      & .field {
        @media @bw1510 {
          padding-top: 30px;
        }
      }

      & .form__field--w365 {
        @media @bw1510 {
          max-width: 100%;
        }
      }

      & .field__label {
        @media @bw1510 {
          display: block;
        }
      }

      & .form__delete-set {
        @media @bw1510 {
          margin-top: 10px;
        }
      }
    }
  }

  &__clone-block {
    display: flex;
    column-gap: 30px;
    @media @bw1020 {
      flex-direction: column;
      width: 100%;
    }
  }

  &__clone-wrapper {
    width: 100%;
    &--w370 {
      max-width: 370px;
      @media @bw1020 {
        max-width: 100%;
      }
    }
    &--w545 {
      max-width: 545px;
      @media @bw1020 {
        max-width: 100%;
      }
    }
    @media @bw1020 {
      margin-bottom: 30px;
    }

    &:last-child {
      @media @bw1020 {
        margin-bottom: 0px;
      }
    }
  }

  &__clone-inner {
    display: flex;
    gap: 20px;
  }
}
